ffmpeg==1.4
ffprobe==0.5
aiohttp==3.7.3
requests==2.25.1
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
cffi==1.14.5
chardet==3.0.4
discord==1.0.1
discord.py==1.6.0
docutils==0.16
google==3.0.0
idna==3.1
multidict==5.1.0
pycparser==2.20
PyNaCl==1.4.0
six==1.15.0
soupsieve==2.2
statistics==1.0.3.5
typing-extensions==3.7.4.3
wikipedia==1.4.0
yarl==1.6.3
youtube-dl==2021.3.3
